body {
  font-family: "Cute Font", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff1e6;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clocks {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.clock {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-overlay {
  color: white;
  position: absolute;
  top: 50%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  font-size: 36px;
}

.trash_area {
  position: absolute;
  top: 50%;
  left: 48%;
}

.trash_can {
  width: 500px;
  height: auto;
}

.plant_area {
  position: absolute;
  top: 15%;
  left: 20%;
}

.plant {
  width: 900px;
  height: auto;
}
